/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Aplicación de tareas */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    margin: 100px auto 20px;
}

/* Título de la aplicación */
.todo-app h2 {
    margin: 0;
    color: #5f2c82;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Imagen del título */
.todo-app h2 img {
    height: 30px;
    margin-left: 10px;
}

/* Fila de tareas */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Campo de entrada de tareas */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

/* Placeholder del campo de entrada */
input::placeholder {
    color: #999;
}

/* Botón para agregar tareas */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #5f2c82;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Listado de tareas */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* Indicador de tarea completada */
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

/* Tarea completada */
ul li.checked {
    text-decoration: line-through;
}

/* Indicador de tarea completada (estilizado) */
ul li.checked::before {
    background-image: url(images/checked.png);
}

/* Botón para eliminar tareas */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* Hover del botón de eliminación */
ul li span:hover {
    background: #d4d5d5;
}
